// here basically we are defining things we would use numerous times in the styling of the web app

//colors

$headerBackground-color: #20222b ;
 $headerSubtitle-color:  #3953bb;
 $bodyBackground-color: #333745;
 $buttonBackground-color: #8357c5;
$widgetColor: #3c4251;
$lightBlue: #464b5e;

 //m-size
$s-size :1.2rem;
 $spacing: 1.6rem ;
 $margin-space: 4.8rem;
 $size-of-font:3.2rem;
 $desktopBreakpoint:45rem;